<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-form-field>
        <input matInput placeholder="Título" name="title" ngModel>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Descripción" name="description" ngModel>
    </mat-form-field>
    <mat-grid-list cols="3" rowHeight="3:2">
        <mat-grid-tile>
            <mat-radio-button [ngModel] name="icon" value="none"></mat-radio-button>
            <i mat-list-icon class="material-icons">help</i>
            <small>Sin ícono</small>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let icon of icons">
            <mat-radio-button [ngModel] name="icon" value="devicon-{{ icon.name }}-{{getIconVersion(icon)}}"></mat-radio-button>
            <i mat-list-icon class="devicon-{{ icon.name }}-{{getIconVersion(icon)}}"></i>
        </mat-grid-tile>
        
      </mat-grid-list>
    <button mat-raised-button type="submit" color="accent">Enviar</button>
</form>

